/*GLOBAL STYLES*/
a{
    
}


P{
    
}
 @import url(https://fonts.googleapis.com/css?family=Handlee);
    
header {
    background-color:#43c5c7;
    height:300px;
}
main {
    width:90%;
    margin:20px auto;
}

footer {
    background-color:#43c5c7;
    height:300px;
    padding:40px;
    font-size:40;
}

footer p {
    color:#00000;
    text-align:center;
}
body{
    margin:0px;
}
h1 {
    /*font-family: 'Lobster', cursive;*/
    /*font-family: 'Josefin Slab', serif;*/
    /*font-family: 'Kaushan Script', cursive;*/
    font-family: 'Handlee', cursive;
    font-size:3em;
    text-align:center;
    color:#434343;
}
.h1Center{
    text-align:center;
    font-size:20px;
}
.logoFont {
    font-family: 'Handlee', cursive;
    font-size:3em;
    color:#4B0082;
    text-align:center;
}
    /*======= BUTTON STYLES=======*/ 
/*h1 { font-family: 'Metrophobic', Arial, serif; font-weight: 400; }*/
.button {
    background-color:#A61c00;
    padding:15px 18px;
    border-radius:6px;
    color:#FFFFFF;
    font-family: 'Lobster', cursive;
    font-size:3em;
    text-decoration:none;
    display:inline-block;
}
.button:hover{
    background-color:#FF0000;
}
/*===========other style===============*/
.image {
    
}

.imageCenter {
    display:block;
    margin:0px auto;
}
.buttonCenter {
    text-align:center;
}